## CRICKET MATCH RESULT

In [443]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import roc_auc_score,roc_curve
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
cricket = pd.read_csv("cricket.csv")

In [444]:
print(cricket.shape)

(296, 10)

In [445]:
cricket.dropna(inplace=True)

In [446]:
cricket.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 292 entries, 0 to 291
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Batsman    292 non-null    int64
 1   Runs       292 non-null    int64
 2   Mins       292 non-null    float64
 3   BF         292 non-null    int64
 4   4s         292 non-null    int64
 5   6s         292 non-null    int64
 6   SR         292 non-null    float64
 7   Pos        292 non-null    int64
 8   Dismissal  292 non-null    object
 9   Inns       292 non-null    int64
dtypes: float64(2), int64(7), object(1)
memory usage: 25.1+ KB

In [447]:
crickcet_df = cricket[["Batsman","Runs","Mins","BF","4s","6s","SR","Pos","Inns","Dismissal"]]

In [448]:
cat_features =[ "Dismissal"]
crickcet_df= pd.get_dummies(crickcet_df,columns=cat_features)
print(crickcet_df.columns)

Index(['Batsman', 'Runs', 'Mins', 'BF', '4s', '6s', 'SR', 'Pos', 'Inns',
       'Dismissal_bowled', 'Dismissal_caught', 'Dismissal_hit wicket',
       'Dismissal_lbw', 'Dismissal_not out', 'Dismissal_run out',
       'Dismissal_stumped'],
      dtype='object')

In [449]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(crickcet_df[["Batsman","Runs","Mins","BF","4s","6s","SR","Pos","Inns"]]) 
cricket_data_normalized = scaler.transform(crickcet_df[["Batsman","Runs","Mins","BF","4s","6s","SR","Pos","Inns"]])# Scaled data 
cricket_data_normalized

array([[-1.38425413, -0.36686036, -0.37405863, ..., -0.05851783,
        -0.05655681, -0.29240701],
       [-1.38425413, -0.36686036, -0.38237358, ...,  0.2083509 ,
        -0.05655681,  1.56374183],
       [-1.38425413,  3.03625132,  3.15979311, ...,  0.04322191,
        -0.05655681, -1.22048143],
       ...,
       [ 1.88070714, -0.75952709, -0.59856216, ..., -0.92536576,
        -1.8915112 ,  0.63566741],
       [ 1.88070714, -0.25466986, -0.29922413, ..., -0.08133795,
         1.77839758, -0.29240701],
       [ 1.88070714, -0.98390808, -1.00599447, ..., -1.925965  ,
        -1.8915112 ,  1.56374183]])

In [450]:
cricket_data_normalized=pd.DataFrame(crickcet_df,columns=["Batsman","Runs","Mins","BF","4s","6s","SR","Pos","Inns"])
cricket_data_normalized=cricket_data_normalized.join(crickcet_df[crickcet_df.columns.drop(["Batsman","Runs","Mins","BF","4s","6s","SR","Pos","Inns"])])

In [451]:
Y = cricket_data_normalized['Runs']
X = cricket_data_normalized[cricket_data_normalized.columns.drop('Runs')]
print(X.shape)

(292, 15)

In [452]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=100)
X_train.shape , X_test.shape

((233, 15), (59, 15))

In [453]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)
train_score=model.score(X_train,Y_train)
test_score=model.score(X_test,Y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

Train Score (R-Squared):  0.9669140540767381
Test Score (R-Squared) 0.9718589336780544

In [454]:
from sklearn.metrics import mean_squared_error
train_predictions = model.predict(X_train)
train_RMSE=mean_squared_error(Y_train,train_predictions)**0.5
test_predictions = model.predict(X_test)
test_RMSE=mean_squared_error(Y_test,test_predictions)**0.5
print('Train RMSE : ',train_RMSE)
print('Test RMSE : ',test_RMSE)

Train RMSE :  9.601052407372311
Test RMSE :  9.416545426687087

##  PERFORMANCE OF A CRICKET PLAYER

In [455]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import roc_auc_score,roc_curve
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
performance = pd.read_csv("performance.csv")

In [456]:
print(performance.shape)

(179078, 9)

In [457]:
performance.isnull()

,inning,over,ball,batsman,bowler,batsman_runs,extra_runs,total_runs,Unnamed: 8
0,False,False,False,False,False,False,False,False,True
1,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...
179073,False,False,False,False,False,False,False,False,True
179074,False,False,False,False,False,False,False,False,True
179075,False,False,False,False,False,False,False,False,True
179076,False,False,False,False,False,False,False,False,True
179077,False,False,False,False,False,False,False,False,True

In [458]:
performance.fillna(0)

,inning,over,ball,batsman,bowler,batsman_runs,extra_runs,total_runs,Unnamed: 8
0,1,1,1,DA Warner,TS Mills,0,0,0,0.0
1,1,1,2,DA Warner,TS Mills,0,0,0,0.0
2,1,1,3,DA Warner,TS Mills,4,0,4,0.0
3,1,1,4,DA Warner,TS Mills,0,0,0,0.0
4,1,1,5,DA Warner,TS Mills,0,2,2,0.0
...,...,...,...,...,...,...,...,...,...
179073,2,20,2,RA Jadeja,SL Malinga,1,0,1,0.0
179074,2,20,3,SR Watson,SL Malinga,2,0,2,0.0
179075,2,20,4,SR Watson,SL Malinga,1,0,1,0.0
179076,2,20,5,SN Thakur,SL Malinga,2,0,2,0.0
179077,2,20,6,SN Thakur,SL Malinga,0,0,0,0.0

In [459]:
performance.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 179078 entries, 0 to 179077
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   inning        179078 non-null  int64
 1   over          179078 non-null  int64
 2   ball          179078 non-null  int64
 3   batsman       179078 non-null  object
 4   bowler        179078 non-null  object
 5   batsman_runs  179078 non-null  int64
 6   extra_runs    179078 non-null  int64
 7   total_runs    179078 non-null  int64
 8   Unnamed: 8    0 non-null       float64
dtypes: float64(1), int64(6), object(2)
memory usage: 12.3+ MB

In [460]:
performance_df = performance[["inning","over","batsman","bowler","batsman_runs","extra_runs","total_runs"]]

In [461]:
cat_features =[ "batsman","bowler"]
performance_df= pd.get_dummies(performance_df,columns=cat_features)
print(performance_df.columns)

Index(['inning', 'over', 'batsman_runs', 'extra_runs', 'total_runs',
       'batsman_A Ashish Reddy', 'batsman_A Chandila', 'batsman_A Chopra',
       'batsman_A Choudhary', 'batsman_A Dananjaya',
       ...
       'bowler_WPUJC Vaas', 'bowler_Washington Sundar',
       'bowler_Y Gnaneswara Rao', 'bowler_Y Nagar', 'bowler_Y Venugopal Rao',
       'bowler_YA Abdulla', 'bowler_YK Pathan', 'bowler_YS Chahal',
       'bowler_Yuvraj Singh', 'bowler_Z Khan'],
      dtype='object', length=926)

In [462]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(performance_df[["inning","over","batsman_runs","extra_runs","total_runs"]]) 
performance_df_normalized = scaler.transform(performance_df[["inning","over","batsman_runs","extra_runs","total_runs"]])# Scaled data 
performance_df_normalized

array([[-0.96191553, -1.61377649, -0.7752851 , -0.19568488, -0.81841453],
       [-0.96191553, -1.61377649, -0.7752851 , -0.19568488, -0.81841453],
       [-0.96191553, -1.61377649,  1.711866  , -0.19568488,  1.67314971],
       ...,
       [ 1.02982775,  1.73266759, -0.15349733, -0.19568488, -0.19552347],
       [ 1.02982775,  1.73266759,  0.46829045, -0.19568488,  0.42736759],
       [ 1.02982775,  1.73266759, -0.7752851 , -0.19568488, -0.81841453]])

In [463]:
performance_df_normalized=pd.DataFrame(performance_df,columns=["inning","over","batsman_runs","extra_runs","total_runs"])
performance_df_normalized=performance_df_normalized.join(performance_df[performance_df.columns.drop(["inning","over","batsman_runs","extra_runs","total_runs"])])

In [464]:
Y = performance_df_normalized['total_runs']
X = performance_df_normalized[performance_df_normalized.columns.drop('total_runs')]
print(X.shape)

(179078, 925)

In [465]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2, random_state=100)
X_train.shape , X_test.shape

((143262, 925), (35816, 925))

In [472]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)
train_score=model.score(X_train,Y_train)
test_score=model.score(X_test,Y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

Train Score (R-Squared):  1.0
Test Score (R-Squared) 0.9999999959719845

In [473]:
from sklearn.metrics import mean_squared_error
train_predictions = model.predict(X_train)
train_RMSE=mean_squared_error(Y_train,train_predictions)**0.5
test_predictions = model.predict(X_test)
test_RMSE=mean_squared_error(Y_test,test_predictions)**0.5
print('Train RMSE : ',train_RMSE)
print('Test RMSE : ',test_RMSE)

Train RMSE :  1.2307298242775225e-13
Test RMSE :  0.00010231273001762702

## crop yield

In [474]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
import statsmodels.formula.api as smf
import seaborn as sns
from sklearn.preprocessing import scale 
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report
from sklearn.metrics import roc_auc_score,roc_curve
import statsmodels.formula.api as smf
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import mean_squared_error, r2_score
yield_ = pd.read_csv("yield_df.csv")

In [475]:
print(yield_.shape)

(28242, 7)

In [499]:
yield_.dropna(inplace=True)

In [500]:
yield_.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28242 entries, 0 to 28241
Data columns (total 7 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Area                           28242 non-null  object
 1   Item                           28242 non-null  object
 2   Year                           28242 non-null  int64
 3   hg/ha_yield                    28242 non-null  int64
 4   average_rain_fall_mm_per_year  28242 non-null  int64
 5   pesticides_tonnes              28242 non-null  float64
 6   avg_temp                       28242 non-null  float64
dtypes: float64(2), int64(3), object(2)
memory usage: 1.5+ MB

In [501]:
yield_df = yield_[["Area","Item","Year","hg/ha_yield","average_rain_fall_mm_per_year","pesticides_tonnes","avg_temp"]]

In [502]:
cat_features =[ "Area","Item"]
yield_df= pd.get_dummies(yield_df,columns=cat_features)
print(yield_df.columns)

Index(['Year', 'hg/ha_yield', 'average_rain_fall_mm_per_year',
       'pesticides_tonnes', 'avg_temp', 'Area_Albania', 'Area_Algeria',
       'Area_Angola', 'Area_Argentina', 'Area_Armenia',
       ...
       'Item_Cassava', 'Item_Maize', 'Item_Plantains and others',
       'Item_Potatoes', 'Item_Rice, paddy', 'Item_Sorghum', 'Item_Soybeans',
       'Item_Sweet potatoes', 'Item_Wheat', 'Item_Yams'],
      dtype='object', length=116)

In [503]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(yield_df[["Year","hg/ha_yield","average_rain_fall_mm_per_year","pesticides_tonnes","avg_temp"]]) 
yield_df_normalized = scaler.transform(yield_df[["Year","hg/ha_yield","average_rain_fall_mm_per_year","pesticides_tonnes","avg_temp"]])# Scaled data 
yield_df_normalized

array([[-1.63707532, -0.47602001,  0.47329419, -0.61636612, -0.66106889],
       [-1.63707532, -0.12225671,  0.47329419, -0.61636612, -0.66106889],
       [-1.63707532, -0.63233786,  0.47329419, -0.61636612, -0.66106889],
       ...,
       [ 1.62451233, -0.75229534, -0.69323228, -0.57585308, -0.12399147],
       [ 1.62451233, -0.64541536, -0.69323228, -0.57585308, -0.12399147],
       [ 1.62451233, -0.63757593, -0.69323228, -0.57585308, -0.12399147]])

In [504]:
yield_df_normalized=pd.DataFrame(yield_df,columns=["Year","hg/ha_yield","average_rain_fall_mm_per_year","pesticides_tonnes","avg_temp"])
yield_df_normalized=yield_df_normalized.join(yield_df[yield_df.columns.drop(["Year","hg/ha_yield","average_rain_fall_mm_per_year","pesticides_tonnes","avg_temp"])])

In [505]:
Y = yield_df_normalized['hg/ha_yield']
X = yield_df_normalized[yield_df_normalized.columns.drop('hg/ha_yield')]
print(X.shape)

(28242, 115)

In [506]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.1, random_state=100)
X_train.shape , X_test.shape

((25417, 115), (2825, 115))

In [513]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)
train_score=model.score(X_train,Y_train)
test_score=model.score(X_test,Y_test)
print('Train Score (R-Squared): ',train_score)
print('Test Score (R-Squared)',test_score)

Train Score (R-Squared):  0.7562728534433544
Test Score (R-Squared) 0.756770088965907

In [516]:
from sklearn.metrics import mean_squared_error
train_predictions = model.predict(X_train)
train_RMSE=mean_squared_error(Y_train,train_predictions)**0.2
test_predictions = model.predict(X_test)
test_RMSE=mean_squared_error(Y_test,test_predictions)**0.2
print('Train RMSE : ',train_RMSE)
print('Test RMSE : ',test_RMSE)

Train RMSE :  70.64117091646395
Test RMSE :  70.60299050125165